{% extends "ApPlatformBundle::layout.html.twig" %}
{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block applatform_body %}
  <h2>Supprimer une annonce</h2>
  <p>
    Etes-vous certain de vouloir supprimer l'animal "{{ animal.name }}" ?
  </p>

  {# On met l'id de l'animal dans la route de l'action du formulaire #}
  <form action="{{ path('ap_platform_delete', {'id': animal.id}) }}" method="post">
    <a href="{{ path('ap_platform_view', {'id': animal.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'animal
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
{% endblock %}
